    <center>
        <%-include('partials/encabezado.html');%>
    </center>  

<body>
    
        <form action="" method="post">

            <label class="lead" for="">Nombre: </label>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="nombre" id="nombre" required="true" placeholder="Escriba su nombre: "> 
            <br>
            <label class="lead" for="">Edad: </label>
            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="edad" id="edad" required="true" placeholder="Escriba su edad: ">
            <br>
            <label class="lead" for="">Cantidad de productos: </label>
            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="cantidadProductos" id="cantidadProductos" required="true" placeholder="Escriba la cantidad de productos: ">
            <br>
            <label class="lead" for="">Precio: </label>
            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="precio" id="precio" required="true" placeholder="Escriba el precio de los productos: ">
            <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Calcular compra</button> 
            <button type="button" onclick="limpiar()" class="btn btn-primary btn-lg btn-block">Limpiar</button> 
            <hr>
            

            
        </form>

        <%
            let totalAPagar = 0
            let subtotal = 0
            let descuento = 0
            

            if(edad >= 60){
                subtotal = cantidadProductos * precio;
                descuento = subtotal * 0.10;
                totalAPagar = subtotal - descuento;
            }else{
                subtotal = cantidadProductos * precio;
                descuento = 0;
                totalAPagar = subtotal;
            }
        %>
        <label class="lead" for="">Nombre: </label>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="nombreRespuesta" id="nombreRespuesta" disabled="true" value="<%=nombre%>">  <br>

        <label class="lead" for="">Edad: </label>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="edadRespuesta" id="edadRespuesta" disabled="true" value="<%=edad%>"><br>

        <label class="lead" for="">Cantidad de productos: </label>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="cantidadProductosRespuesta" id="cantidadProductosRespuesta" disabled="true" value="<%=cantidadProductos%>"><br>

        <label class="lead" for="">Precio:  </label>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="precioRespuesta" id="precioRespuesta" disabled="true" value="<%=precio%>"><br>

        <label class="lead" for="">Subtotal: </label>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="subtotal" id="subtotal" disabled="true" value="<%=subtotal%>"><br>

        <label class="lead" for="">Descuento: : </label>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="descuento" id="descuento" disabled="true" value="<%=descuento%>"><br>

        <label class="lead" for="">Total a pagar: </label>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="totalCompra" id="totalCompra" placeholder="Total de la compra: " disabled="true" value="<%=totalAPagar%>">
        <br>


    <center>
        <%-include('partials/piePagina.html');%>
    </center>
</body>

<script>
    function limpiar(){
        const nombre = document.getElementById("nombre");
        const edad = document.getElementById("edad");
        const cantidadProductos = document.getElementById("cantidadProductos");
        const precio = document.getElementById("precio");

        const nombreRespuesta = document.getElementById("nombreRespuesta");
        const edadRespuesta = document.getElementById("edadRespuesta");
        const cantidadProductosRespuesta = document.getElementById("cantidadProductosRespuesta");
        const precioRespuesta = document.getElementById("precioRespuesta");

        const subtotal = document.getElementById("subtotal");
        const descuento = document.getElementById("descuento");
        const totalCompra = document.getElementById("totalCompra");

        nombre.value = "";
        edad.value = "";
        cantidadProductos.value = "";
        precio.value = "";

        nombreRespuesta.value = "";
        edadRespuesta.value = "";
        cantidadProductosRespuesta.value = "";
        precioRespuesta.value = "";

        subtotal.value = "";
        descuento.value = "";
        totalCompra.value = "";

    }
</script>


</html>